USE [HoaDon13se]
GO
/****** Object:  Table [dbo].[BangGiaBan]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGiaBan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayApDung] [date] NULL,
	[DonGiaBan] [float] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_BangGiaBan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietNhapHang]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[SoLuongNhapTon] [int] NULL,
 CONSTRAINT [PK_ChiTietNhapHang_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucNang](
	[IDChucNang] [int] IDENTITY(1,1) NOT NULL,
	[KiHieu] [varchar](50) NOT NULL,
	[TenChucNang] [nvarchar](50) NULL,
	[TrangThai] [bit] NOT NULL,
	[NhomChucNang] [int] NULL,
 CONSTRAINT [PK_ChucNang] PRIMARY KEY CLUSTERED 
(
	[IDChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLapHD] [datetime] NULL,
	[Tinhtrang] [bit] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[KiHieu] [nvarchar](15) NULL,
	[TenCT] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[SoDienThoai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[IDLoaiTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTaiKhoan] [nvarchar](50) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDLoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOG_ChiTietNhapHang]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG_ChiTietNhapHang](
	[ID] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[SoLuongNhapTon] [int] NULL,
	[kieuchinhsua] [varchar](1) NULL,
	[ngaysua] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](40) NULL,
	[Ten] [nvarchar](10) NULL,
	[Phai] [bit] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](20) NULL,
	[TaiKhoan] [varchar](20) NULL,
	[MatKhau] [varbinary](128) NULL,
	[LoaiTaiKhoan] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[IDLoaiTaiKhoan] [int] NOT NULL,
	[IDChucNang] [int] NOT NULL,
	[TongQuyen] [int] NOT NULL CONSTRAINT [DF_PhanQuyen_TongQuyen]  DEFAULT ((0)),
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[IDLoaiTaiKhoan] ASC,
	[IDChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DVT] [nvarchar](20) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BangGiaBan] ON 

GO
INSERT [dbo].[BangGiaBan] ([ID], [MaSP], [NgayApDung], [DonGiaBan], [TrangThai]) VALUES (1, 1, CAST(N'2016-04-13' AS Date), 500000, 0)
GO
INSERT [dbo].[BangGiaBan] ([ID], [MaSP], [NgayApDung], [DonGiaBan], [TrangThai]) VALUES (2, 1, CAST(N'2016-04-13' AS Date), 600000, 0)
GO
INSERT [dbo].[BangGiaBan] ([ID], [MaSP], [NgayApDung], [DonGiaBan], [TrangThai]) VALUES (3, 1, CAST(N'2016-04-13' AS Date), 600000, 0)
GO
SET IDENTITY_INSERT [dbo].[BangGiaBan] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (4, 1, 3, 700000)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (4, 2, 3, 40000)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (5, 1, 2, 700000)
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapHang] ON 

GO
INSERT [dbo].[ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon]) VALUES (1, 1, 1, CAST(N'2016-03-30' AS Date), 20, 200000, 20)
GO
INSERT [dbo].[ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon]) VALUES (2, 1, 1, CAST(N'2016-03-30' AS Date), 10, 400000, 10)
GO
INSERT [dbo].[ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon]) VALUES (4, 2, 1, CAST(N'2016-04-13' AS Date), 20, 20000, 20)
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucNang] ON 

GO
INSERT [dbo].[ChucNang] ([IDChucNang], [KiHieu], [TenChucNang], [TrangThai], [NhomChucNang]) VALUES (1, N'mnuHeThong', N'Menu hệ thống', 1, 1)
GO
INSERT [dbo].[ChucNang] ([IDChucNang], [KiHieu], [TenChucNang], [TrangThai], [NhomChucNang]) VALUES (2, N'mnuDanhMuc', N'Menu danh mục', 1, 1)
GO
INSERT [dbo].[ChucNang] ([IDChucNang], [KiHieu], [TenChucNang], [TrangThai], [NhomChucNang]) VALUES (3, N'mnuTacVu', N'Menu tác vụ', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[ChucNang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [Tinhtrang]) VALUES (4, 1, 34, CAST(N'2016-04-20 08:01:49.620' AS DateTime), 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [Tinhtrang]) VALUES (5, 1, 46, CAST(N'2016-04-20 08:04:53.877' AS DateTime), 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [Tinhtrang]) VALUES (7, 1, 3, CAST(N'2016-04-20 08:07:05.663' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

GO
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (1, N'kk', N'Cơ điện nông nghiệp 03', N'311 Hai Bà Trưng P8 Q3', N'Nha Trang', 123)
GO
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (2, N'ALSIMES', N'Giày An lạc 1', N'761 Trần Hưng Đạo P1', N'Huế', 0)
GO
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (3, N'ASC', N'Du lịch An Phú', N'233 Nguyễn Trãi P2', N'Nha Trang', NULL)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] ON 

GO
INSERT [dbo].[LoaiTaiKhoan] ([IDLoaiTaiKhoan], [TenLoaiTaiKhoan], [TrangThai]) VALUES (1, N'Admin', 1)
GO
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] OFF
GO
INSERT [dbo].[LOG_ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon], [kieuchinhsua], [ngaysua]) VALUES (3, 2, 1, CAST(N'2016-04-06' AS Date), 20, 30000, 20, N'I', CAST(N'2016-04-06 08:23:45.117' AS DateTime))
GO
INSERT [dbo].[LOG_ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon], [kieuchinhsua], [ngaysua]) VALUES (3, 2, 1, CAST(N'2016-04-06' AS Date), 20, 30000, 20, N'U', CAST(N'2016-04-06 08:24:29.950' AS DateTime))
GO
INSERT [dbo].[LOG_ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon], [kieuchinhsua], [ngaysua]) VALUES (3, 2, 1, CAST(N'2016-04-06' AS Date), 15, 30000, 15, N'U', CAST(N'2016-04-06 08:24:48.637' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [LoaiTaiKhoan]) VALUES (1, N'Quản trị', N'hệ thống', 1, N'LHU', N'0902510770', N'admin', 0x01000F6728A59A917033802898C49458040F4DDD6379F4F2D61C, 1)
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [LoaiTaiKhoan]) VALUES (2, N'Hà Vĩnh', N'Phát', 1, N'89 Đồng Khởi Q1', N'6363636367', N'phat', 0x010004291FA020F9D9688A812EB18AA755F5CE010CD7C7E3EFDA, 1)
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau], [LoaiTaiKhoan]) VALUES (3, N'Trần Tuyết', N'Oanh', 1, N'26 Lê Quý Đôn P6 Q3', N'636363636', N'oanh', 0x0100641E5D78344ED166CD4C3EC8F14A31714D16E43C56CDE81E, 1)
GO
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[PhanQuyen] ([IDLoaiTaiKhoan], [IDChucNang], [TongQuyen]) VALUES (1, 1, 1)
GO
INSERT [dbo].[PhanQuyen] ([IDLoaiTaiKhoan], [IDChucNang], [TongQuyen]) VALUES (1, 2, 0)
GO
INSERT [dbo].[PhanQuyen] ([IDLoaiTaiKhoan], [IDChucNang], [TongQuyen]) VALUES (1, 3, 10)
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_ChiTietNhapHang_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_ChiTietNhapHang_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiTaiKhoan] FOREIGN KEY([LoaiTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([IDLoaiTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_ChucNang] FOREIGN KEY([IDChucNang])
REFERENCES [dbo].[ChucNang] ([IDChucNang])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ChucNang]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_LoaiTaiKhoan] FOREIGN KEY([IDLoaiTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([IDLoaiTaiKhoan])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_LoaiTaiKhoan]
GO
/****** Object:  StoredProcedure [dbo].[SP_Backup]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[SP_Backup]
	@duongdan nvarchar(max)
as
begin
	declare @dbname nvarchar(50)
	set @dbname =  DB_NAME()
	BACKUP DATABASE @dbname
	TO  DISK = @duongdan
	WITH NOFORMAT, NOINIT,  
	SKIP, NOREWIND, NOUNLOAD,  STATS = 10
	select ErrorCode = 1
end

GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraDangNhap]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KiemTraDangNhap]
@TaiKhoan VARCHAR(20),
@MatKhau VARCHAR(20)
AS
IF EXISTS (SELECT 1 FROM dbo.NhanVien WHERE TaiKhoan=@TaiKhoan AND pwdcompare(@MatKhau,matkhau)=1)--kiểm tra có tài khoản cần
BEGIN
		SELECT 1 AS result,MaNV, Ho, Ten, Phai, DiaChi, DienThoai, TaiKhoan,LoaiTaiKhoan
		FROM dbo.NhanVien
		WHERE TaiKhoan=@TaiKhoan AND pwdcompare(@MatKhau,matkhau)=1
END
ELSE--không tồn tài tài khoản
BEGIN
     SELECT 0 AS result,0 AS MaNV,''as Ho,''as Ten, 0 AS Phai, ''AS DiaChi,''as DienThoai, ''AS TaiKhoan
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NhanVien_InserAndUpdate]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NhanVien_InserAndUpdate]
    @MaNV INT,
    @Ho NVARCHAR(40),
    @Ten NVARCHAR(10),
    @Phai bit,
    @DiaChi NVARCHAR(200),
    @DienThoai VARCHAR(20),
    @TaiKhoan VARCHAR(20),
    @MatKhau VARCHAR(20)
AS
IF EXISTS (SELECT 1 FROM dbo.NhanVien WHERE MaNV = @MaNV)
BEGIN --cập nhật
    UPDATE dbo.NhanVien
    set Ho = @Ho,
        Ten = @Ten,
        Phai = @Phai,
        DiaChi = @DiaChi,
        DienThoai = @DienThoai
    where MaNV = @MaNV;

END;
ELSE
BEGIN --thêm mới
    INSERT INTO dbo.NhanVien
    (
        Ho,
        Ten,
        Phai,
        DiaChi,
        DienThoai,
        TaiKhoan,
        MatKhau
    )
    VALUES
    (@Ho, @Ten, @Phai, @DiaChi, @DienThoai, @TaiKhoan, pwdencrypt(@MatKhau));
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_NhanVien_KiemTraTrungTaiKhoan]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NhanVien_KiemTraTrungTaiKhoan]
@TaiKhoan VARCHAR(20)
AS
IF EXISTS (SELECT 1 FROM dbo.NhanVien WHERE TaiKhoan=@TaiKhoan)
BEGIN
    SELECT 1 AS Result
END
ELSE	
BEGIN
    SELECT 0 AS result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NhanVien_LayTongQuyenTheoUser]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NhanVien_LayTongQuyenTheoUser]
@TaiKhoan VARCHAR(20)
AS
IF EXISTS (SELECT 1 FROM dbo.NhanVien WHERE TaiKhoan=@TaiKhoan)
BEGIN
    SELECT a.IDChucNang,KiHieu,TenChucNang,TongQuyen
	FROM PhanQuyen a INNER JOIN dbo.ChucNang b ON a.IDChucNang=b.IdChucNang INNER JOIN dbo.NhanVien c ON a.IDLoaiTaiKhoan=c.LoaiTaiKhoan
	WHERE c.TaiKhoan=@TaiKhoan
END

GO
/****** Object:  StoredProcedure [dbo].[SP_NhanVien_Select]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NhanVien_Select]
AS
SELECT ROW_NUMBER() over (order by (select 1)) as STT,  MaNV, Ho +' '+Ten AS TenNV,CASE Phai WHEN 1 THEN N'Nữ' ELSE N'Nam' END AS Phai,phai AS phai1, DiaChi, DienThoai, TaiKhoan, MatKhau,0 AS Chon
FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[SP_NhanVien_Xoa]    Script Date: 27/12/2017 23:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NhanVien_Xoa]
@MaNV INT
AS
DELETE dbo.NhanVien
WHERE MaNV=@MaNV
GO
