Create database HoaDon
Go

USE [HoaDon]
GO

CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DVT] [nvarchar](20) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[SanPham] ON
SET IDENTITY_INSERT [dbo].[SanPham] OFF

CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](40) NULL,
	[Ten] [nvarchar](10) NULL,
	[Phai] [bit] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](20) NULL,
	[TaiKhoan] [varchar](20) NULL,
	[MatKhau] [varbinary](128) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[NhanVien] ON
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau]) VALUES (1, N'Quản trị', N'hệ thống', 1, N'LHU', N'8.35615e+006', N'admin', PWDENCRYPT('admin'))
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau]) VALUES (2, N'Hà Vĩnh', N'Phát', 1, N'89 Đồng Khởi Q1', N'8.35207e+006', N'phat', PWDENCRYPT('phat'))
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau]) VALUES (3, N'Trần Tuyết', N'Oanh', 1, N'26 Lê Quý Đôn P6 Q3', N'8.5578e+006', N'oanh', PWDENCRYPT('oanh'))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
Go

CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[KiHieu] [nvarchar](15) NULL,
	[TenCT] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[SoDienThoai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (1, N'kk', N'Cơ điện nông nghiệp 03', N'311 Hai Bà Trưng P8 Q3', N'Nha Trang', 123)
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (2, N'ALSIMES', N'Giày An lạc', N'761 Trần Hưng Đạo P1', N'Huế', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (3, N'ASC', N'Du lịch An Phú', N'233 Nguyễn Trãi P2', N'Nha Trang', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF

CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] int not null,
	[MaKH] [int] NOT NULL,
	[NgayLapHD] [datetime] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
drop table HoaDon


--drop table chitiethoadon
SET IDENTITY_INSERT [dbo].[HoaDon] ON
INSERT [dbo].[HoaDon] ([MaHD],[MaNV], [MaKH], [NgayLapHD]) VALUES (10144,1, 28, CAST(0x00008A6A00000000 AS DateTime))
INSERT [dbo].[HoaDon] ([MaHD],[MaNV], [MaKH], [NgayLapHD]) VALUES (10145,2, 49, CAST(0x00008A6C00000000 AS DateTime))
INSERT [dbo].[HoaDon] ([MaHD],[MaNV], [MaKH], [NgayLapHD]) VALUES (10148,2, 51, CAST(0x00008A7100000000 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
Go

CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (10144, 1, 35, 374)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (10144, 3, 10, 16)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (10144, 6, 20, 39)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'


ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_NgayLapHD]  DEFAULT (getdate()) FOR [NgayLapHD]
GO

ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO

ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO

ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO

ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO

ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO

ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
