USE [HoaDon13se]
GO
/****** Object:  Table [dbo].[BangGiaBan]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGiaBan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[NgayApDung] [date] NULL,
	[DonGiaBan] [float] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_BangGiaBan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietNhapHang]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhapHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[SoLuongNhapTon] [int] NULL,
 CONSTRAINT [PK_ChiTietNhapHang_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayLapHD] [datetime] NULL,
	[Tinhtrang] [bit] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[KiHieu] [nvarchar](15) NULL,
	[TenCT] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[SoDienThoai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOG_ChiTietNhapHang]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG_ChiTietNhapHang](
	[ID] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[SoLuongNhapTon] [int] NULL,
	[kieuchinhsua] [varchar](1) NULL,
	[ngaysua] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[Ho] [nvarchar](40) NULL,
	[Ten] [nvarchar](10) NULL,
	[Phai] [bit] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](20) NULL,
	[TaiKhoan] [varchar](20) NULL,
	[MatKhau] [varbinary](128) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 13/12/2017 11:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DVT] [nvarchar](20) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BangGiaBan] ON 

GO
INSERT [dbo].[BangGiaBan] ([ID], [MaSP], [NgayApDung], [DonGiaBan], [TrangThai]) VALUES (1, 1, CAST(N'2016-04-13' AS Date), 500000, 0)
GO
INSERT [dbo].[BangGiaBan] ([ID], [MaSP], [NgayApDung], [DonGiaBan], [TrangThai]) VALUES (2, 1, CAST(N'2016-04-13' AS Date), 600000, 0)
GO
INSERT [dbo].[BangGiaBan] ([ID], [MaSP], [NgayApDung], [DonGiaBan], [TrangThai]) VALUES (3, 1, CAST(N'2016-04-13' AS Date), 600000, 0)
GO
SET IDENTITY_INSERT [dbo].[BangGiaBan] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (4, 1, 3, 700000)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (4, 2, 3, 40000)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (5, 1, 2, 700000)
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapHang] ON 

GO
INSERT [dbo].[ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon]) VALUES (1, 1, 1, CAST(N'2016-03-30' AS Date), 20, 200000, 20)
GO
INSERT [dbo].[ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon]) VALUES (2, 1, 1, CAST(N'2016-03-30' AS Date), 10, 400000, 10)
GO
INSERT [dbo].[ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon]) VALUES (4, 2, 1, CAST(N'2016-04-13' AS Date), 20, 20000, 20)
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhapHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [Tinhtrang]) VALUES (4, 1, 34, CAST(N'2016-04-20 08:01:49.620' AS DateTime), 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [Tinhtrang]) VALUES (5, 1, 46, CAST(N'2016-04-20 08:04:53.877' AS DateTime), 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [Tinhtrang]) VALUES (7, 1, 3, CAST(N'2016-04-20 08:07:05.663' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

GO
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (1, N'kk', N'Cơ điện nông nghiệp 03', N'311 Hai Bà Trưng P8 Q3', N'Nha Trang', 123)
GO
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (2, N'ALSIMES', N'Giày An lạc 1', N'761 Trần Hưng Đạo P1', N'Huế', 0)
GO
INSERT [dbo].[KhachHang] ([MaKH], [KiHieu], [TenCT], [DiaChi], [ThanhPho], [SoDienThoai]) VALUES (3, N'ASC', N'Du lịch An Phú', N'233 Nguyễn Trãi P2', N'Nha Trang', NULL)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[LOG_ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon], [kieuchinhsua], [ngaysua]) VALUES (3, 2, 1, CAST(N'2016-04-06' AS Date), 20, 30000, 20, N'I', CAST(N'2016-04-06 08:23:45.117' AS DateTime))
GO
INSERT [dbo].[LOG_ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon], [kieuchinhsua], [ngaysua]) VALUES (3, 2, 1, CAST(N'2016-04-06' AS Date), 20, 30000, 20, N'U', CAST(N'2016-04-06 08:24:29.950' AS DateTime))
GO
INSERT [dbo].[LOG_ChiTietNhapHang] ([ID], [MaSP], [MaNV], [NgayNhap], [SoLuongNhap], [DonGiaNhap], [SoLuongNhapTon], [kieuchinhsua], [ngaysua]) VALUES (3, 2, 1, CAST(N'2016-04-06' AS Date), 15, 30000, 15, N'U', CAST(N'2016-04-06 08:24:48.637' AS DateTime))
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau]) VALUES (1, N'Quản trị', N'hệ thống', 1, N'LHU', N'0902510770', N'admin', 0x01000F6728A59A917033802898C49458040F4DDD6379F4F2D61C)
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau]) VALUES (2, N'Hà Vĩnh', N'Phát', 1, N'89 Đồng Khởi Q1', N'8.35207e+006', N'phat', 0x010004291FA020F9D9688A812EB18AA755F5CE010CD7C7E3EFDA)
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [Phai], [DiaChi], [DienThoai], [TaiKhoan], [MatKhau]) VALUES (3, N'Trần Tuyết', N'Oanh', 1, N'26 Lê Quý Đôn P6 Q3', N'8.5578e+006', N'oanh', 0x0100641E5D78344ED166CD4C3EC8F14A31714D16E43C56CDE81E)
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_ChiTietNhapHang_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietNhapHang] CHECK CONSTRAINT [FK_ChiTietNhapHang_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
